<div class="reservas-page">
  <div class="header">
    <div>
      <h1> Mis reservas</h1>
      <p> Consulta y administra tus reservas.</p>
    </div>

  </div>

  @if (loading()) {
  <div class="loading-container">
    <mat-spinner diameter="45"></mat-spinner>
    <span>
      Cargando reservas...
    </span>
  </div>
  } @else {

  @if (reservas().length === 0) {
  <mat-card class="empty-card">
    <mat-icon>
      event_busy
    </mat-icon>

    <h2>No tienes reservas</h2>
    <p> Aún no has realizado reservas. </p>
  </mat-card>

  } @else {

  <div class="reservas-grid">
    @for (r of reservas(); track r.id) {
    <mat-card class="reserva-card">
      <div class="card-header">
        <div class="sede-info">
          <div class="sede-icon">
            <mat-icon>
              beach_access
            </mat-icon>
          </div>

          <div>
            <h2>{{ r.sede }}</h2>
            <span> {{ r.alojamiento }}</span>
          </div>

        </div>
        <div class="estado-badge" [class.pendiente]="
                  r.estadoReserva === 'Pendiente'
                " [class.cancelada]="
                  r.estadoReserva === 'Cancelada'
                " [class.confirmada]="
                  r.estadoReserva === 'Confirmada'">
          {{ r.estadoReserva }}
        </div>
      </div>

      <div class="card-content">
        <div class="info-item">
          <mat-icon> groups </mat-icon>

          <span> {{ r.cantidadPersonas }} personas </span>
        </div>

        <div class="info-item">
          <mat-icon> calendar_month  </mat-icon>

          <span>  {{ r.fechaInicio | date:'dd MMM yyyy' }} -
            {{ r.fechaFin | date:'dd MMM yyyy'}}
          </span>
        </div>

        <div class="info-item total">
          <mat-icon>payments </mat-icon>

          <strong> {{ r.valorTotal | currency:'COP':'symbol':'1.0-0' }} </strong>
        </div>
      </div>

      <div class="card-footer">
        <button mat-flat-button >
          Editar reserva
        </button>
      </div>
    </mat-card>
    }
  </div>
  }
  }
</div>
